<section  id ="seccion">
    <h1 id ="alfa">Lorem Ipsum</h1>
  <p>LLorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce ut leo eu ipsum faucibus pretium. Donec iaculis lorem eleifend mi tempor porttitor. Integer porttitor dui vel dui. Donec ornare adipiscing pede. Proin elementum augue ut magna.</p>

</section>
<section  id ="caracol">
    <h1 id ="beta">Lorem Ipsum</h1>
  <p>LLorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce ut leo eu ipsum faucibus pretium. Donec iaculis lorem eleifend mi tempor porttitor. Integer porttitor dui vel dui. Donec ornare adipiscing pede. Proin elementum augue ut magna.</p>

</section>
<div>
    <label id ="op"> Opiniones 
    </label>
    <textarea name ="op"></textarea>
    <div></div>
    <input type ="submit" value="enviar"/>

</div>

